@media only screen and (max-width: 800px) {
    .contact .row{
        display: list-item;
    }
    .hero h1{
        max-height: 260px;
        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 20px !important;
        line-height: 24px;
        text-align: center;
        color: #0B0D17;
    }
}

.hero {
    margin-top: 5vh;
    margin-bottom: 2vh;
}

.hero span {
    margin-left: auto;
    margin-right: auto;
    color: #0280A7;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    font-feature-settings: 'salt' on, 'liga' off;
}

.hero h1 {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 54px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #18191F;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.hero p {
    margin-left: auto;
    margin-right: auto;
    max-width: 444px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #18191F;
    flex: none;
    order: 1;
    flex-grow: 0;
}


.contact .row .col .input{
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    padding:  0.5em 0.75em 0.1mm 0.75em;
    background-color: #B3D9E3;
    border: 2px solid var(--input-border);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.contact .row .col .input label{
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 18px;
color: #0280A7;

}
textarea{
    width: 450px;
height: 365px;
}
button{
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    max-width: 187px;
    height: 40px;
    border-radius: 6px;
    border: 0;
    background-color: #0280A7;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #fff;
}