

.recrutement {
  background: #4EA6C1;
}

.recrutement img {
  max-width: 100%;

}

.recrutement h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  font-feature-settings: 'salt' on, 'liga' off;
  color: #18191F;

}

.recrutement p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  font-feature-settings: 'salt' on, 'liga' off;
  color: #18191F;

}

.recrutement button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 32px;
  gap: 10px;
  background: #D8E9ED;
  border-radius: 6px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-feature-settings: 'salt' on, 'liga' off;
  color: #0B0D17;

}
.footer {
    background: #0280A7;
  }
  
  @media screen and (max-width: 540px) {
    .footer .row h3{
        padding-top: 40px;
    }
    .footer{
      padding-left: 40px;
  }
  }
  
  .footer .row img {
    max-width: 170px;
    max-height: 74px;
  }
  
  .footer .row .social {}
  
  .footer .row .social a {
    text-decoration: none;
  }
  
  .footer .row .social a:hover {
    text-decoration: none;
    opacity: 0.6;
  }
  
  .footer .row .social img {
    max-width: 30px;
    max-height: 30px;
  }
  
  
  .footer .row h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #EEF6EA;
  }
  
  .footer .row ul {
    list-style: none;
    line-height: 2.5;
    padding: 0;
  }
  
  .footer .row ul a:hover {
    opacity: 0.8;
  }
  
  .footer .row ul li a {
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #D9DBE1;
  }
  
  
  .footer .row input {}