/* ******************* hero main ********************************** */

@media screen and (max-width: 540px) {
  .hero .row {
    display: flex;
    flex-direction: column-reverse;
  }

  .hero img {
    margin-left: auto;
    margin-right: auto;
    width: 75vw;

  }

}

.main-hero {
  position: relative;
  height: auto;
  margin-bottom: 100vh;
}

.hero-content {
  padding-left: 10%;
  max-width: 50%;
  position: absolute;
  top: 10vw;
  left: 0;
}

.hero-img {
  position: absolute;
  right: 0;
  top: 0;
}

.hero-title {
  color: #0280a7;
  font-size: 4.8vw;
}

.hero-description {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #18191F;

}

.hero-img img {
  width: 60vw;
  height: auto;
}

.hero-button {
  border: 2px solid #f8af3c;
  color: #f8af3c;
}



/* ******************* hero ********************************** */

/* 2532x1170 pixels at 460ppi */
@media only screen 
    and (device-width: 390px) 
    and (device-height: 844px) 
    and (-webkit-device-pixel-ratio: 3) {
      .hero iframe{
        width: 348px;height: 188px; 
     }
     .hero .row {
      display: flex;
      flex-direction: column-reverse;
    }
  
    .hero img {
      margin-left: auto;
      margin-right: auto;
      width: 75vw;
  
    }
}

.hero iframe{
  width: 500px;height: 315px;
}
.hero span {
  color: #0280A7;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  font-feature-settings: 'salt' on, 'liga' off;
}

.hero h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  font-feature-settings: 'salt' on, 'liga' off;
  color: #0280A7;
}

.hero p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  font-feature-settings: 'salt' on, 'liga' off;
  color: #18191F;

}

.hero a {
  text-decoration: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: 'salt' on, 'liga' off;
  color: #F8AF3C;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* ******************************** communaute ******************************************** */
@media screen and (max-width: 540px) {
  .communaute .row {
    display: flex;
    flex-direction: column-reverse;
  }

  .communaute img {
    margin-left: auto;
    margin-right: auto;
    width: 75vw;

  }
}

.communaute {
  background-color: #D8E9ED;
}

.communaute img {
  margin-right: 0 !important;
  display: block;
}
.nopadding {
  padding: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.communaute .row {
  margin-right: 0;
  margin-left: 0;
}
.communaute span {
  color: #0280A7;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  font-feature-settings: 'salt' on, 'liga' off;
}

.communaute h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900px;
  font-size: 40px;
  line-height: 54px;
  font-feature-settings: 'salt' on, 'liga' off;
  color: #18191F;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.communaute p {
  max-width: 444px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  font-feature-settings: 'salt' on, 'liga' off;
  color: #18191F;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.communaute a {
  text-decoration: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: 'salt' on, 'liga' off;
  color: #4EA6C1;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* ******************* projets ********************************** */

.projets .intro {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  font-feature-settings: 'salt' on, 'liga' off;
  color: #0280A7;
}

.projets a {
  text-decoration: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: 'salt' on, 'liga' off;
  color: #F8AF3C;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* ******************* experimentation ********************************** */

@media screen and (max-width: 540px) {
  .experimentation .row {
    display: flex;
    flex-direction: column-reverse;
  }

  .experimentation img {
    margin-left: auto;
    margin-right: auto;
    width: 75vw;

  }
}

.experimentation img {
  max-width: 500px;
  height: auto;
  margin: auto;
  display: block;
}

.experimentation span {
  color: #0280A7;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  font-feature-settings: 'salt' on, 'liga' off;
}

.experimentation h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  font-feature-settings: 'salt' on, 'liga' off;
  color: #18191F;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.experimentation p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  font-feature-settings: 'salt' on, 'liga' off;
  color: #18191F;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.experimentation a {
  text-decoration: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: 'salt' on, 'liga' off;
  color: #F8AF3C;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* **************************************** ProjectsForLife en chiffre *********************************************** */
.ProjectsForLife-chiffre {
  background-color: #0280A7;
}

.ProjectsForLife-chiffre h1 b {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  font-feature-settings: 'salt' on, 'liga' off;
  color: #FFFFFF;
  -webkit-font-feature-settings: 'salt' on, 'liga' off;
  -moz-font-feature-settings: 'salt' on, 'liga' off;
}

.ProjectsForLife-chiffre h1 {
  font-family: 'Poppins';

  font-weight: lighter;
  font-size: 48px;
  line-height: 64px;
  font-feature-settings: 'salt' on, 'liga' off;
  color: #FFFFFF;
}

.ProjectsForLife-chiffre .chiffre {

  font-family: 'poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  font-feature-settings: 'salt' on, 'liga' off;
  color: #FFFFFF;
}

.ProjectsForLife-chiffre p {
  font-family: 'Poppins';
  text-align: center;
  color: #FFFFFF;
}
.border-right{
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}