/* ******************* hero ********************************** */

@media screen and (max-width: 540px) {
  .hero .row{
    display: flex;
    flex-direction: column-reverse;
  }
  .hero img {
      margin-left: auto;
      margin-right: auto;
      width: 75vw;
      
  }
}

.hero  img {
  margin: auto;
  display: block;
}

.hero  span {
  color: #0280A7;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  font-feature-settings: 'salt' on, 'liga' off;
}

.hero  h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 54px;
  font-feature-settings: 'salt' on, 'liga' off;
  color: #18191F;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.hero  p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  font-feature-settings: 'salt' on, 'liga' off;
  color: #18191F;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.hero a {
  text-decoration: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: 'salt' on, 'liga' off;
  color: #F8AF3C;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* ******************* projects ********************************** */

.projects {
  background: #cbe7ed;
}

.projects .container .intro h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  font-feature-settings: 'salt' on, 'liga' off;
  color: #474A57;
}

.projects .container .row .item h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  font-feature-settings: 'salt' on, 'liga' off;
  color: #18191F;
  flex: none;
  order: 0;
  align-self: flex-start;
  flex-grow: 0;
}

.projects .container .row .item p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  font-feature-settings: 'salt' on, 'liga' off;
  color: #18191F;
  flex: none;
  order: 1;
  align-self: center;
  flex-grow: 0;
}

.projects .container .row .item ol {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  font-feature-settings: 'salt' on, 'liga' off;
  color: #18191F;
  flex: none;
  order: 1;
  align-self: center;
  flex-grow: 0;
}

/* ******************* actions ********************************** */

@media screen and (max-width: 540px) {

  .actions .row img {
    display: block;
    margin-left: auto;
    margin-right: auto;
      width: 90vw; 
  }
}
.actions .intro {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  font-feature-settings: 'salt' on, 'liga' off;
  color: #0280A7;
}

.actions .row .col-lg-4 {
  margin-bottom: 10vh;
}

.actions .row .body {
  max-width: 546px;
  max-height: 541px;
  width: 546px;
  height: 541px;
}
.actions .row img {
  width: 100%;
}

.actions .row .title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  font-feature-settings: 'salt' on, 'liga' off;
  color: #18191F;
}

.actions .row .text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-feature-settings: 'salt' on, 'liga' off;
  color: #18191F;
}

/* ******************* fondateurs ********************************** */

.fondateurs .intro {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  font-feature-settings: 'salt' on, 'liga' off;
  color: #0280A7;
}




