/* ******************* hero ********************************** */

@media only screen and (max-width: 800px) {
    .hero .row {
        display: flex;
        flex-direction: column-reverse;
    }

    .hero img {
        margin-left: auto;
        margin-right: auto;
        width: 75vw;

    }
}


.hero img {
    margin: auto;
    display: block;
}

.hero span {
    color: #0280A7;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    font-feature-settings: 'salt' on, 'liga' off;
}

.hero h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 54px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #18191F;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.hero p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #18191F;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.hero a {
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #F8AF3C;
    flex: none;
    order: 0;
    flex-grow: 0;
}


/******************************************* Quelques mots du porteur de projet *****************************************************/
@media only screen and (max-width: 800px) {
    .hero .row {
        display: flex;
        flex-direction: column-reverse;
    }

    .hero img {
        margin-left: auto;
        margin-right: auto;
        width: 75vw;

    }

    .mots-porteur-project-title {
        flex-direction: column;
    }

    .mots-porteur-project {
        width: auto;
        height: 450px;
        margin-bottom: 100vw;
        background-color: #4EA6C1;
    }

    .mots-porteur-project .container {
        margin-left: auto;
        margin-right: auto;
    }

    .mots-porteur-project .container h1 {
        max-width: 189px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        font-feature-settings: 'salt' on, 'liga' off;
        color: #FFFFFF;
    }

    .mots-porteur-project .container img {
        width: 117px;
        display: block;
    }

    .mots-porteur {
        background-color: #B3D9E3;
        padding-right: 50px;
        padding-left: 50px;
    }
}

@media only screen and (min-width: 801px) {

    .mots-porteur-project {
        position: relative;
        width: auto;
        height: 450px;
        margin-bottom: 70vw;
        background-color: #4EA6C1;
    }

    .mots-porteur-project .container {

        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 10vh;
    }

    .mots-porteur-project .container h1 {
        max-width: 445px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
        font-feature-settings: 'salt' on, 'liga' off;
        color: #FFFFFF;
    }

    .mots-porteur-project .container img {
        margin: auto;
        display: block;
    }

    .mots-porteur {
        margin-top: 100px;
        background-color: #B3D9E3;
        padding-right: 50px;
        padding-left: 50px;
    }
}




/******************************************* notreequipe *****************************************************/
.notre-equipe .title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #18191F;
    padding-bottom: 10vw;
}

.bd-placeholder-img {
    max-width: 500px;
    max-height: 371px;
}

/********************************************** famille **********************************************************/

.famille {
    background: #D8E9ED;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.famille .card {
    background-color: #D8E9ED;

}

.famille .title {
    max-width: 730px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #18191F;
}